h1{
  font-family: 'Raleway', sans-serif;
}



body{
  padding-bottom: 0px;
  margin: 0;
}
.wrapper{
  background-color: white;
  height: 110%;
}
img.modalButton:hover{
  transform: scale(1.1);
  box-shadow: .6em .6em 3em rgba(0,0,0,0.8);
}
img.modalButton{
  box-shadow: .6em .6em 3em rgba(0,0,0,0.3);
}
h1{
  color: white;
}
.grid{
  grid-template-columns: 1fr 1fr 1fr;
}
.test{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  justify-items: center;
}


img{
 width: 100%;
 height: auto;
}
.track-length{
  padding-left: 20px;
}

/* validatie */
#validatie{
}
.br{
  margin-top: 1em;
}

/* Modaal Venster */
.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,0.5);
  display: grid;
  justify-items: center;
}

.modal {
  height: 25em;
  width: 750px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  max-height: 50%;
  max-width: 80%;
  padding: 1em;
  border-radius: 1em;
  background-color: #fff;
  align-self: center;
  animation: modalKey 1s forwards;
}
@keyframes modalKey {
  0% {max-width: 30%; max-height: 15%;}
  100% {max-width: 80%; max-height: 50%;}
}

.modalContent img{
  position: relative;
  width: 80%;
}
.closeButton{
  position: relative;
  left: 94%;
  border-style: none;
  border-radius: 10px;
  background: rgb(202, 60, 60);
  color: white;
  grid-column: 3;
  width: 30px;
  height: 30px;
}
.modalContent{
  margin-left: 15px;
  margin-right: 5px;
  align-content: center;
  display: grid;
  grid-template-columns:1fr 1fr;
}
.modalContent article{
  grid-column: 2;
}
form.loginRegisterForm{
  position: relative;
  margin-left: 20%;
  margin-top: 3em;
}
.loginRegister{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));;
}
.login{
  grid-column: 11;
}

.register{
  grid-column: 12;
}

.button.closeButton{
  grid-column: 3;
}
.modal.closeButton{
  grid-column: 3;
}
.validator{
  text-align: center;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.validator-item{
  grid-column: 7;
}
.validator-item2{
  grid-column: 9;
}
.by{
text-align: center;
font-size-adjust: auto;
}

/* by Tim van Osch */
